.menu ul {
    text-align: center;
    background-color: white;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu ul li ul {
    display: none;
    position: absolute;
}

.menu ul li {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
}

.menu a {
    background-color: beige;
    text-align: center;
    line-height: 30px;
    width: 130px;
    display: inline-block;
    text-decoration: none;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul a:hover {
    background-color: grey;
    color: white;
}